.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-grid-tile-content {
  align-items: flex-start !important;
}

::ng-deep .mat-grid-tile.list .mat-grid-tile-content {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
  overflow: auto;
}
